body{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    justify-items: center;
    border: 1px solid gray;
    padding: 20px;
    margin: 20px;
    width: 600px;
}

h1{
    font-size: 35px;
}

h2{
    font-size: 20px;
    color: #006EB6;
}

.list{
    font-style: italic;
}