body{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    justify-items: center;
    border: 1px solid gray;
    padding: 45px;
    margin: 20px auto;
    width: 600px;
}

header{
    padding-bottom: 5px;
}

h1{
    font-size: 35px;
}

h2{
    font-size: 20px;
    color: #006EB6;
    border-bottom: 1px solid gray
}

.listing{
    font-style: italic;
}

footer{
    padding-top: 25px;
}