body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border: 1px solid gray;
    padding: 45px;
    margin: 20px auto;
    width: 600px;
    line-height: 1.5;
}

.content{
    text-align: center;
}

header{
    padding-bottom: 5px;
}

h1{
    font-size: 35px;
}

h2{
    font-size: 20px;
    color: #006EB6;
    border-bottom: 1px solid gray;
    font-weight: 100;
}

main{
    text-align: left;
}

.listing{
    font-style: italic;
}

ol {
    margin-left: 40px;
}


footer{
    padding-top: 25px;
}

/* Dark Theme */
.dark{
    background-color: #333;
    color: white;
}

.dark h2{
    color: #156498;
}

.dark footer img{
    content: url('images/byui-logo_white.png');
}