@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

:root{
    --gold: #EFC69B;
    --red: #AF1B3F;
    --dark: #473144;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: var(--dark);
}

h1, h2{
    font-family: Lora, Impact, serif;
    color: var(--red);
}

header{
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    color: white;
}

header nav{
    margin-top: 10px;
    border: 0.2rem solid var(--gold);
}

header .main-nav{
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
}

header .main-nav li{
    margin-left: 20px;
}

header .main-nav a{
    color: var(--red);
    text-decoration: none;
    font-size: 16px;
}

header .main-nav a:hover{
    text-decoration: underline;
}

.articles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 20px;
}

.book-review{
    background-color: white;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 0.2rem solid var(--gold);
}

.book-details{
    display: flex;
    gap: 20px;
}

.book-info{
    flex: 1;
}

.book-description{
    color: var(--dark);
    margin-bottom: 10px;
}

.book-ages, .book-genre, .book-stars{
    font-weight: bold;
    color: var(--dark);
}

.book-stars{
    color: var(--gold);
}

.skiptocontent a{
    position: absolute;
    top: -40px;
    left: 0;
    background-color: var(--red);
    color: white;
    padding: 10px;
    text-decoration: none;
}

.skiptocontent a:focus{
    top: 0;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: var(--dark);
    color: white;
}